.bar { fill: steelblue; }

#floating_container {
    margin: 10px;
    overflow: hidden;
}

#bar_chart_container {
    width: 550px;
    float: left;
}

#map_id {
    float: right;
    height: 500px;
    width: 550px;
}